:root {
  /* Fonts */

  --main-font: Roboto, sans-sefir;
  --secondary-font: Raleway, sans-sefir;

  /*Text colors  */

  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --logo-txt-cl: #000000;
  --grey-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: rgba(255, 255, 255, 0.6);
  /* Background colors */

  --accent-bg-cl: #2196f3;
  --main-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;

  /* Others */
}

.page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}


.link {
  text-decoration: none;
}

.header-list,
.contacts-list,
.footer-list,
.section-team-list,
.hero-list,
.content-list,
.section-list,
.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;

}

/* HEADER */

.header {
  background-color: var(--main-bg-cl);
}

.header-container{
  display: flex;
}

.nav{
  margin-left: 93px;
  margin-right: auto;
}

.nav-link{
  color: var(--main-txt-cl);
  padding: 32px 0;
  display: block;

}

.contacts-header-link{
  display: block;
  color: var(--grey-txt-cl);
  padding: 32px 0;
}

.header-list {
  display: flex;
  gap: 50px;
}

.contacts-list{
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.link.current {
  color: var(--accent-txt-cl);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-txt-cl);
}

.logo-header{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-txt-cl);
  text-decoration: none;
  padding: 24px 0;
  margin-right: 93px;
}



.header .logo-part {
  color: var(--logo-txt-cl);
}



.contacts-list .link {
  color: var(--grey-txt-cl);
}

/* HERO */

.hero {
  background-color: var(--dark-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container{
  width:696px;
}

.hero-subtitle{
    margin-bottom: 30px;
}

.hero-title {
  margin-bottom: 30px;
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
}

/* НАШІ ПЕРЕВАГИ */

.hero-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.hero-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--grey-txt-cl);
}

/* НАША РОБОТА */

.content-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-txt-cl);
}

/* КОМАНДА */

.section-team {
  background-color: var(--light-bg-cl);
}

.section-team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-txt-cl);
}

.section-team-subtitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--grey-txt-cl);
}

.section-team-list {
  background-color: var(--main-bg-cl);
}

/* НАШІ КОНТАКТИ */

.footer {
  background-color: var(--dark-bg-cl);
}


  .footer .logo-footer{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-txt-cl);
  text-decoration: none;
  }



.footer .logo-part {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--light-txt-cl);
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts-adress {
  color: var(--light-txt-cl);
  margin-bottom: 9px;
}

.footer-list-item{
    margin-bottom: 9px;
}
 
 .footer-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--dark-txt-cl);
  text-decoration: none;
} 

.footer-link :hover,
.footer-link :focus {
  color: var(--accent-txt-cl);
}

/*PORTFOLIO-BUTTONS */

.section-btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--main-txt-cl);
  cursor: pointer;
}

.section-list{
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  gap: 8px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-box{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}


.name-btn{
    padding: 6px 25px;
}

.name-btns{
    padding: 6px 22px;
}

.section-btn:hover,
.section-btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-list-caption {
    margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.portfolio-list-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--grey-txt-cl);
}

.section{
  padding: 94px 0;
}